/* ~ Core ~ */
    body {
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
    }
    .btn-bottom {
        background: #00b5a3;
        border-radius: 6px 6px 0 0;
        padding: 10px 20px;
        position: fixed;
        bottom: 0;
        right: 40px;
        z-index: 1;
        color: #ffffff;
        box-shadow: 3px 0px 5px rgba(0, 0, 0, 0.2);
    }
    .btn-bottom:hover {
        color: #ffffff;
        font-weight: bold;
    }
    a:hover, a:focus, a:active {
        text-decoration: none;
        color: #000000;
    }
    a {
        color: #000000;
    }
    .title-section {
        font-size: 28px;
        color: #00243e;
        padding: 25px 0 25px;
    }
    .color1 {
        color: #029fdf;
        border-color: #029fdf;
    }
    .color2 {
        color: #f79488;
        border-color: #f79488;
    }
    .color3 {
        color: #11118e;
        border-color: #11118e;
    }
/* ~ End Core ~ */

/* ~ NavBar ~ */
    .header {
        position: fixed;
        width: 100%;
        background-color: #fff;
        z-index: 9999;
        box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
    }
    .navigation {
        width: 100%;
        height: 70px;
        display: table;
        position: relative;
        font-family: inherit;
        background-color: #ffffff;
    }
    .nav-header {
        float: left;
    }
    .nav-brand {
        line-height: 70px;
        padding: 0;
        color: #343a40;
        font-size: 24px;
        text-decoration: none !important;
    }
    .nav-brand:hover,
    .nav-brand:focus {
        color: #343a40;
    }
    .nav-menu {
        margin: 0;
        padding: 0;
        list-style: none;
        line-height: normal;
        font-size: 0;
    }
    .nav-menu > li {
        display: inline-block;
        float: left;
        text-align: left;
    }
    .nav-menu > li > a {
        height: 70px;
        padding: 26px 15px;
        display: inline-block;
        text-decoration: none;
        font-size: 14px;
        color: #343a40;
        -webkit-transition: color 0.3s, background 0.3s;
        transition: color 0.3s, background 0.3s;
    }
    .nav-menu > li:hover > a,
    .nav-menu > li.active > a,
    .nav-menu > li.focus > a {
        font-weight: bold;
    }        
    .align-to-right {
        float: right;
    }        
    .nav-search {
        height: 70px;
        float: right;
        z-index: 19998;
    }
    .nav-search-button {
        width: 70px;
        height: 70px;
        line-height: 70px;
        text-align: center;
        cursor: pointer;
        background-color: #fbfcfd;
    }
    .nav-search-button:hover .nav-search-icon {
        font-weight: bold;
    }
    .nav-search > form {
        width: 100%;
        height: 100%;
        padding: 0 auto;
        display: none;
        position: absolute;
        left: 0;
        top: 0;
        background-color: #ffffff;
        z-index: 99;
    }
    .nav-search-inner {
        width: 70%;
        height: 70px;
        margin: auto;
        display: table;
    }
    .nav-search-inner input[type=text],
    .nav-search-inner input[type=search] {
        height: 70px;
        width: 100%;
        margin: 0;
        padding: 0 12px;
        font-size: 16px;
        text-align: center;
        color: #343a40;
        outline: none;
        line-height: 70px;
        border: none;
        background-color: transparent;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
    }
    .nav-search-close-button {
        width: 28px;
        height: 28px;
        display: block;
        position: absolute;
        right: 20px;
        top: 20px;
        line-height: normal;
        color: #343a40;
        font-size: 20px;
        cursor: pointer;
        text-align: center;
        outline: none;
    }
    .text-grey {
        color: #d0d0d0 !important;
    }
/* ~ End NavBar ~ */

/* ~ Section Home ~ */
    #home {
        background: url(../img/office.jpg) no-repeat;
        background-size: cover;
        background-position: center center;
        min-height: 450px;
    }
    #home-box .home-des {
        background: #00243e;
        box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
        min-height: 150px;
        text-align: center;
        position: relative;
        bottom: 50px;
        padding: 50px 100px 50px 100px;
        color: #ffffff;
    }
    .webinar-title {
        font-weight: 900;
    }
    .webinar-text {
        font-weight: 900;
        color: #4bb5a7;
    }
/* ~ End Section Home ~ */

/* ~ Section Balance ~ */
    #balanced {
        margin-top: 35px;
        color: #868686;
    }
    #balanced .container {
        line-height: 1.8;
        max-width: 950px;
    }
    .team-round {
        left: calc(50% - 275px);
        position: absolute;
        max-width: 500px;
    }
    #team-round-1 {
        border: 2px solid #029fdf;
        border-radius: 50%;
        height: 300px;
        width: 300px;
        margin-top: 230px;
        text-align: center;
    }
    #team-round-2 {
        border: 2px solid #f79488;
        border-radius: 50%;
        height: 300px;
        width: 300px;
        margin-left: 250px;
        margin-top: 230px;
        text-align: center;
    }
    #team-round-3 {
        border: 2px solid #11118e;
        border-radius: 50%;
        height: 300px;
        width: 300px;
        margin-left: 125px;
        text-align: center;
    }
    #product-round {
        border: 5px rgba(0, 36, 62, 0.85);
        background: rgba(0, 36, 62, 0.85);
        border-radius: 50%;
        height: 100px;
        width: 100px;
        margin-left: 225px;
        margin-top: 250px;
        text-align: center;
        vertical-align: middle;
        color: #ffffff;
        font-weight: bold;
        padding-top: 40px;
    }
    .product-goal {
        margin-top: 50px;
        position: relative;
        min-height: 600px;
    }
    .avatar {
        width: 100px;
        margin-left: 100px;
        margin-top: 50px;
        margin-bottom: 15px;
        box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.2);
        border-radius: 50%;
    }
    .avatar-title {
        font-weight: bold;
        font-size: 18px;
    }
/* ~ End Section Balance ~ */

/* ~ Section Master ~ */
    #master {
        margin-top: 35px;
        color: #868686;
        margin-bottom: 100px;
    }
    #master .container {
        line-height: 1.8;
        max-width: 950px;
    }    
	.box-wrapper {
		padding-top: 50px;
	}
	.box {
		padding: 0 30px;
	}
	.box hr {
		border: 2px solid;
		margin-bottom: 10px;
	}
	.box-text {
		line-height: normal;
		font-size: 14px;
		font-weight: bold;
	}
	.box-content h3 {
		color: #000000;
	}
	.box-content p {
		color: #868686;
		line-height: 2;
	}
	.box-content span {
		color: #000000;
		line-height: 2;
		font-weight: bold;
		font-size: 14px;
    }
/* ~ End Section Master ~ */

/* ~ Section Labs ~ */
	#labs {
		padding: 50px;
		background-color: #f7f7f7;
		line-height: 2;
		color: #868686;
	}
	#labs .container {
		max-width: 950px;
	}
	#labs #rows {
		position: relative;
		padding-top: 50px;
	}
	.divide-center {
		position: absolute;
		left: 50%;
		top: 0;
		bottom: 0;
		width: 1px;
		background: #c2c7d1;
	}
	.divide-center::before {
		top: 0;
		content: "\f111";
		color: #c2c7d1;
		font-family: FontAwesome;
		font-size: 8px;
		position: absolute;
		line-height: 0;
		left: -3px;
	}
	#labs .row {
		margin-bottom: 80px;
		height: 340px;
		position: relative;
	}
	
	#labs .text {
		max-width: 340px;
		margin-top: 15px;
    }
    #labs #rows .odd img {
        float: left;
        margin-right: 50px;
    }
    #labs #rows .odd .text {
        float: right;
        text-align: left;
    }
    #labs #rows .even img {
        float: right;
        margin-left: 50px;
    }
    #labs #rows .even .text {
        float: left;
        text-align: right;
    }
    #labs .text div {
        color: #00243e;
        font-size: 28px;
        font-weight: bold;
    }
    #labs img {
        box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
    }
    .quote-box .quote {
        font-size: 20px;
        color: #0094da;
        font-family: Arial;
    }
    .quote-box .quote-by {
        color: #000000;
    }
/* ~ End Section Master ~ */

/* ~ Section Related ~ */
    #related {
        padding: 50px 0 50px;
        min-height: 100px;
    }
	#related-box {
		clear: both;
	}
    .align-left {
        float: left;
    }
    .align-right {
        float: right;
    }
    #related .align-left {
        font-size: 18px;
        font-weight: bold;
    }
    #related .align-right a {
        font-weight: bold;
        color: #4bb5a7;
    }
    #related img {
        display: inline-block;
        max-width: 98%;
        height: auto;
        width: 30%;
        margin: 1%;
    }
/* ~ End Section Related ~ */

/* ~ Section Start ~ */
    #start {
        padding: 25px 0 50px;
        min-height: 100px;
        background-color: #00b5a3;
        color: #ffffff;
        text-align: center;
    }
	#start .container {
        line-height: 1.8;
		max-width: 950px;
	}
    #start .title-section {
        font-size: 40px;
        color: #ffffff;
    }
/* ~ End Section Start ~ */

/* ~ Section Footer ~ */
    #footer {
        padding: 50px 0 50px;
        min-height: 100px;
        background-color: #002a48;
        color: #ffffff;
        text-align: center;
        line-height: 3;
        font-size: 14px;
    }
	#footer li {
		list-style-type: none;
	}
	#footer a {
		color: #ffffff;
	}
    #footer .register {
        background-color: #003152;
        padding: 50px;
        line-height: 2;
    }
    #footer .spring-one {
        border: 3px solid #4bb5a7;
        border-radius: 50px;
        font-size: 22px;
        font-weight: bold;
        color: #4bb5a7;
    }
    #footer .register-text {
        line-height: normal;
    }
    #footer .register-text .year {
        font-size: 35px;
        font-weight: bold;
        padding-right: 0;
    }
    #footer .register-text .texas {
        font-size: 20px;
        font-weight: bold;
    }
    #footer .register-now {
        font-weight: bold;
        color: #4bb5a7;
    }
/* ~ End Section Footer ~ */